fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.4
python-dotenv==1.0.1
python-multipart==0.0.9

# Document Extractors
pdfplumber==0.11.1
PyPDF2==3.0.1
python-docx==1.1.2

# Google AI & Database
google-generativeai==0.7.2
pymongo==4.7.3
motor==3.4.0


