# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
MONGO_URI=mongodb+srv://gautamyadav2382_db_user:O5WiYBwduOLM6nZR@airesumeanalyzer.2vzunqm.mongodb.net/

# Security Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=30d

# AI Microservice Configuration
AI_SERVICE_URL=http://localhost:8000
